[flake8]
exclude =
    __pycache__,
    .venv,
    build,
    # glob expression is needed if invoke on a single file (used by pre-commit, IDE)
    .venv/**/*,
    build/**/*,
    dist/**/*,
    templates/*,

# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
