<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <title>Insta Frame! 1:1 your photos for Instagram!</title>
    <script>
      (function (e, t, n) {
        var r = e.querySelectorAll("html")[0];
        r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2");
      })(document, window, 0);
    </script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="bg-danger p-3">
      <h3 class="text-white">Error</h3>
      <ul class="flashes list-inline text-white">
        {% for message in messages %}
        <li class="list-inline-item">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endwith %}
    <div class="m-3">{% block body %}{% endblock %}</div>
  </body>
</html>
